.center-wrapper {width:320pxl; margin:0px auto; text-align:center;}
.status { text-align: center}
.ui-block-b.append { border:1px solid #AAA; border-left:none; padding:.4em .4em .4em 15px; margin:.5em 0 .5em -10px; line-height:1.4; font-size:16px;-webkit-border-radius: .6em; border-radius: .6em;border-top-left-radius:0px;border-bottom-left-radius:0px; color:#888; width:20%; overflow:hidden}
.ui-block-a.with-append{width:80%;}
.hidden {display:none;}
